parameters:
    ignoreErrors:
        - '#Method Nexucis\\OpenSearch\\Helper\\Nodowntime\\IndexHelper::copyIndex\(\) should return string but returns bool\|string#'
        - '#Method Nexucis\\OpenSearch\\Helper\\Nodowntime\\IndexHelper::reindex\(\) should return string but returns bool\|string#'